p{
    font-weight: bold;
    font-size: 20px;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color:seagreen
}

body{
    background-color: linen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
ol{
    list-style-position: inside;
    display: inline-block; 
	text-align: left; 
}

ul{
    list-style-position: inside;
    text-align: center;
    list-style: inside;
    display: inline-block; 
	text-align: left; 
}